body{

    background-color: #FBAB7E;
    background-image: linear-gradient(62deg,#FBAB7E 0%,#F7CE68 100%);
}
    .app-tittle{
    text-align: center;

}
.app-tittle-container{
    background-color: #6600ff;
    color: white;
    padding: 2px;
    border-radius: 30px; 
    border: white 5px solid;

}
.team-card-container{
    display: flex;
    justify-content: space-around;


}
.team-card{
    background-color: white;
    margin: 20px;
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 1px 1px #6600ff;


}
.team-card:hover{
    box-shadow: 3px 3px 2px 2px #6600ff;


}
.team-card-tittle{
    text-align: center;

}
.team-card-score{
    text-align: center;
    font-size: 100px;
    margin: 0;

}
.score-card-button-container{
    display: flex;
    justify-content: space-around;
}
.score-card-button{
    font-size: 50px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
    
}
.btn-reset{
    background-color:tomato ;
    color: white;
    padding: 8px;
    border: white 2px solid;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.reset-button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}



