body{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg,#FBAB7E 0%,#F7CE68 100%);
}.app-tittle{
    text-align: center;

}
.app-tittle-container{
    background-color: #6600ff;
    color: white;
    padding: 2px;
    border-radius: 30px; 
    border: white 5px solid;

}
.team-card-container{
    display: flex;
    justify-content: space-around;


}
.team-card{
    background-color: white;
    margin: 20px;
    width: 300px;


}
.team-card-tittle{
    text-align: center;

}
.team-card-score{
    
}



